<!DOCTYPE html>
<html lang="en">
<head>
 <title>Hiking Tools</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="css/hikinguieds.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
<body>
<nav class="navbar navbar-inverse">
    <div class="conteinar-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h2><i>Hiking Life          
                </i></h2>        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right"> 
            <li class="active"><a href="/">Home</a></li>
            <li class="active"> <a href="/hikingtools">Hiking Tools</a></li>
            <li class="active"><a href="/hikinguieds">Hiking Guides</a></li>
            <li class="active"><a href="/login">Login</a></li>
            <li class="active"><a href="/signup">Signup</a></li> 
            </ul>
        </div>
    </div>
</nav>
    
    <div class="bgc">
       
            <div class="div_1">       
            <h1><i>What to wear</i></h1>
                <div class="container">
    <div class="row">
       <div class="col-md-8">
                <p><i>Big clunky hiking boots – </i>personally, I hate these things.  They cause the same issues with your feet that running in super cushiony shoes do – they give too much support and promote an improper foot strike while walking.  On top of that, they are damn heavy.  In my personal opinion, I like to attack hiking differently; however, if you swear by hiking boots and have a $200 pair of Timberlands, I’m not gonna tell you to chuck them.</p><br>
        </div>
                <div class="col-md-4">
                 <img src="img/Merrell Moab 2 Mid WP hiking boots_0.jpg" >
              
           </div>
                    </div>
                
                <div class="container">
                <div class="row">
       <div class="col-md-8">
                <p><i>Sneakers –</i> I’d probably choose boots over regular sneakers when it comes to hiking, as at least the boots are designed specifically for hiking.  However, if sneakers are your only option, lace em up and start your hike.  Just be careful on slipper surfaces as often sneakers won’t give you the grip you need to get over them.  You can also try barefoot trail running shoes like the Merrell Trail Gloves.  Just make sure your feet are prepared for less. </p><br>
                    </div>
                    <div class="col-md-4">
                 <img src="img/" >
              
           </div>
                    </div>
                </div>
        </div>
                    <div class="container">
                     <div class="row">
       <div class="col-md-8">
                <p><i>
Vibram FiveFingers –</i> My vibrams have become my go-to for a shoe while hiking.  Something just feels right about gripping the rocks under my feet while hiking up and down mountain paths.  Now, before you strap on a pair yourself and go for a four-day hike…I’ve been wearing Vibrams for two and a half years or so – my ankles and feet and joints have been prepared for strenuous activity.  If you are going to go the “barefoot” route, start slow, start small, and gradually build up distance and difficulty.  Be comfortable, but be safe.</p>
                         </div>
                         <div class="col-md-4">
                 <img src="img/" >
              
           </div>
                        </div>
                </div>
<div class="container">
 <div class="row">
       <div class="col-md-8">
<p><i>
Socks –</i> I’m usually hiking in my Vibrams without socks so I won’t claim to be an expert on hiking socks.  If you’re wearing boots or sneakers, you want to wear socks that aren’t going to give you blisters or make your feet all sweaty and gross.  Depending on how long the hike is, how serious you are about hiking, and your budget, you can look into super fancy merino-wool socks.  The main issue I found with hiking great distances (before switching to vibrams) was blisters and discomfort in my feet from crappy socks on all-day (7+ hour) hikes.  If you have sock advice, make sure to leave it in the comments.
</p>
     </div>
     <div class="col-md-4">
                 <img src="" >
              
           </div>
    </div>
                </div>
<div class="container">
 <div class="row">
       <div class="col-md-8">
<p><i>
Pants –</i> Don’t go pantsless through the wilderness – best tip I can give you all day.  No, the real advice when it comes to pants/shorts is heavily dependent upon your environment.  If it’s going to be cold, shorts might keep you shivering.  If it’s going to be hot, pants might get too uncomfortable.  Only wear jeans if its going to be a comfortable temperature and/or you have no other option – being sweaty and hot while wearing jeans sucks.  I’m a big fan of my nerd pants – the Columbia Silver Ridge pants.  Although they look kind of goofy, they’re incredibly light weight, dry quickly, and can transform from pants to shorts in mere seconds!

When in doubt (or if you are traveling through woods), wear pants. I am horribly allergic to poison ivy, so I like to keep as much of my body covered while hiking to make sure I don’t get it.  True story: when I was a little kid, I made myself a little bow and arrow (trying to be like Link) and unknowingly feathered my homemade arrows with poison ivy leaves.  When my hands and half of my face swelled up like a balloon from drawing the arrows back across my cheek, I learned my lesson 🙂
</p>
     </div>
     <div class="col-md-4">
                 <img src="" >
              
     </div></div></div>
<div class="container">
 <div class="row">
       <div class="col-md-8">
       <p><i>
Shirt –</i> Intense hike? Wear a performance based shirt like Under Armour or something similar to keep you unsweaty and comfortable.  Although it does have some cotton in it, the Nerd Fitness t-shirt (shameless plug) does hold up quite well to wear and tear over long periods of time – I’ve been rocking my shirt in heavy rotation on lots of hikes over the past 10 months in absolute comfort.  You can also wear things like merino wool long shirts and t-shirts which are very light, wick away moisture, hide odors, and breathe well – though you will be paying top dollar for them.  If you’re just starting out, pick an old t-shirt and rock that – you can work on optimizing performance once you’ve got a few hikes under your belt.
           </p><br></div>
           <div class="col-md-4">
                 <img src="" >
              
     </div></div></div>

<div class="container">
 <div class="row">
       <div class="col-md-8">
       <p><i>
Jacket –</i> I’ve been wearing this Mountain Hardware jacket on most of my hikes and it has been awesome – very lightweight so packing it isn’t a hassle, almost 100% waterproof so it keeps me dry when it rains, and heavy enough to block the wind to keep me warm when it’s chilly.  Don’t go out of your way to buy a new jacket if you have a decent wind breaker, but if you’re going to be doing a lot of hiking or you’re in the market for a new coat, here’s my advice: go to a local store and try out all of the jackets until you find one you like.  Once you find the perfect jacket, go home and check online (you can sometimes find the same jacket for up to 60% less) – then, ask the local store if they’ll price match or just buy it online.
           </p></div>
           <div class="col-md-4">
                 <img src="" >
              
     </div></div></div>
<div class="container">
 <div class="row">
       <div class="col-md-8">
       <p><i>
Hat –</i> I’m usually rocking my Red Sox hat (booo Yankees), but while hiking in Australia I wore a hat with a giant floppy brim to keep my ears and face protected from the sun.  The tops of your ears and back of your neck are highly susceptible to getting burned while on the trail, so either get some sunscreen or wear a hat that keeps them covered.</p>
     </div>
                <div class="col-md-4">
                 <img src="" >    
     </div></div></div>
           </div>
           
           
       
        
        <div class="div_2">
        
        <h1><i> Before leaving home</i></h1>
         <div class="container">
    <div class="row">
       <div class="col-md-8">
        <p>        <i>
            Some sort of small backpack</i>  You won’t be traveling with too much stuff, so you don’t need to go out and buy a $300 75L ultra backpack.  Any bag that will hold your stuff is sufficient for now – if you decide down the road to get super serious about this camping stuff, you can invest money.  Until then though, use what you have or borrow your little sister’s Dora the Explorer pack.  Wait, don’t do that.
           </p><br></div>
            <div class="col-md-4">
                 <img src="" >
              
     </div></div></div>

 <div class="container">
    <div class="row">
       <div class="col-md-8">
<p><i>
Make sure your cellphone is fully charged and ready to go –</i> a phone can help bail you out in case of emergency, and if you have a smart phone it can multitask as your compass, distance tracker, mapper, and so on.  If you don’t have a smart phone, bringing a compass or GPS system isn’t a bad idea (unless it’s bright and sunny and you’re good at orienting yourself).  If you’re a audiophile and need music playing 24/7 like I do, you’ll also need headphones so you can listen to your epic soundtrack (explained later).
</p><br>
</div>
            <div class="col-md-4">
                 <img src="" >
              
     </div></div></div>
 
  <div class="container">
    <div class="row">
       <div class="col-md-8">
 <p><i>
A camera – </i> Throw a camera in your bag, you never know what you’ll find.  Although I have a camera that I travel with, most of the pictures I’ve been taking recently have been done with my iPhone using apps like Camera+ or ProHDR (which I freaking love).  Both apps are worth the price.  You don’t need to be a great photographer, just need to capture the moment to look back on fondly as a crotchety old grandpa.  Obviously if you’re a serious photographer, you’ve already planned to pack your DSLR so I won’t get into that.
</p><br>
</div>
            <div class="col-md-4">
                 <img src="" >
              
     </div></div></div>
 
  <div class="container">
    <div class="row">
       <div class="col-md-8">
 <p><i>
A book – </i> I LOVE READING (more than I love lowercase letters), so I always travel with my Kindle on a hike.  Although hiking with friends can be fun, I get a huge thrill out of hiking out to a remote location overlooking a valley or sitting on the edge of a river with a book so that I can spend a few hours getting lost in a story (just finished reading A Dance With Dragons, now moving on to A Wise Man’s Fear.)
</p><br>
</div>
            <div class="col-md-4">
                 <img src="" >
              
     </div></div></div>
 <div class="container">
    <div class="row">
       <div class="col-md-8">
<p><i>
Sunscreen –</i> If it’s sunny outside and you’re hiking through the woods or up a mountain with a cool breeze in your face, you probably won’t be able to tell that your ears and face are getting absolutely torched.  Get yourself some 30SPF waterproof sweatproof sunscreen to cover up those ears, cheeks, and back of your neck.
</p><br>
 </div>
            <div class="col-md-4">
                 <img src="" >
              
     </div></div></div>

 <div class="container">
    <div class="row">
       <div class="col-md-8">
<p><i>
Bug spray –</i> especially if it’s “that time of the year” in your area where bugs are out in full force.  Nothing worse than coming home to arms and legs covered in bug bites.
</p><br>
 </div>
            <div class="col-md-4">
                 <img src="" >
              
     </div></div></div>

 <div class="container">
    <div class="row">
       <div class="col-md-8">
<p><i>
First aid –</i> Having some first aid stuff with you is a good idea: band-aids and moleskin for blisters and cuts, Neosporin or some type of disinfectant for cuts/scrapes, and maybe a bandage or two just in case.  Places like REI sell travel first aid kits if you’re too lazy to make your own.
</p><br>
 </div>
            <div class="col-md-4">
                 <img src="" >
              
     </div></div></div>

 <div class="container">
    <div class="row">
       <div class="col-md-8">
<p><i>
Pocket knife –</i> Not essential if you’re in a park, but a good thing to have with you out in the woods so you’re prepared for anything. Like McGyver.
</p><br>
          </div>
            <div class="col-md-4">
                 <img src="" >
              
     </div></div></div>
           
            <div class="container">
    <div class="row">
       <div class="col-md-8">
           <p><i>
            Sunglasses –</i> No need to go blind while out on the trail.  You probably already have sunglasses floating around your house: I’d recommend bringing the $5 ones rather than the $250 Ray-Bans.</p>
       <div class="col-md-4">
                 <img src="" >
           </div>
         </div>
        </div>
             </div>
        </div>
        
       
    </div>
    
      
       
     
</body>
</html>