<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hiking Guides</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/hikinguieds.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
<body>
<!--   Header Shuru         -->
  <nav class="navbar navbar-inverse">
    <div class="conteinar-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h2><i>Hiking Life          
                </i></h2>        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right"> 
            <li class="active"><a href="/">Home</a></li>
            <li class="active"> <a href="/hikingtools">Hiking Tools</a></li>
            <li class="active"><a href="/hikingguieds">Hiking Guides</a></li>
            <li class="active"><a href="/login">Login</a></li>
            <li class="active"><a href="/signup">Signup</a></li> 
            </ul>
        </div>
    </div>
</nav>
     <!--   Header Shesh        -->
    
    <div class="bgc">
       
            <div class="div_1">       
            <h1><i>When you think of hiking</i></h1>
                <p> you probably imagine a bunch of road-tested perma-travelers with oversized backpacks hiking through epic mountains for weeks upon weeks at a time.  Or maybe, a pair of hobbits setting out on a worldwide adventure to destroy a ring of awe-inspiring power.</p>
                <br>
<p>If you’re out of shape or just beginning your journey to a better lifestyle, thoughts about serious hiking can certainly keep you indoors and away from the trails.  However, although hiking can certainly be epic, it doesn’t need to be – it can also be a fun jaunt (who uses that word?) around your local park or neighborhood for a few hours on a Tuesday evening or Sunday morning.</p>
<br>

<p>As long as you’re exploring your surroundings while building strength and endurance in your legs and lungs, I’m for it!   If you are overweight and not ready to start running yet, then hiking is a great way to get your legs, feet, and body used to strenuous activity – because you get to pick your speed and difficulty, you can always find a way the right amount of challenge for you..</p>
                
        </div>
        <div class="div_2">
        <h1><i> what you need to do?</i></h1>
        <p>        <i>
1) Decide how long you have to hike:</i> As this is a beginner’s guide to hiking, we’re not looking to hike the Appalachian Trail – but rather trails that can be done in less than a day, that won’t require you to pack a tent, or bring extra change of clothes.  Pick a hike based on how much time you have – do you have the entire Sunday?  Or do you just have a few hours on a Tuesday afternoon?</p><br>
<p>
<i>2) Decide if you’ll be hiking solo or with a friend/group</i>: I love hiking solo – it’s mobile meditation for me.  However, it’s also more dangerous should anything happen while you’re out on the trail; so if you’re a little more cautious, then I’d recommend buddying up with a friend or your significant other for your hike.  It’s the perfect bonding opportunity.
            </p><br>
            <p>
<i>3) Determine your starting level :</i> if you are a complete newb and horribly out of shape, sending yourself out on an eight hour hike through the unmapped wilderness is incredibly unintelligent.  Start slow, and pick places around your town that will allow you to stop when necessary and get back to your car or home quickly.  No need to be a hero; it’s always better to come back excited and say “wow that was easier than I expected!” than to realize you’re six hours from home and out of steam.
</p><br><p><i>
4) Pick your hiking location:</i> Go to Trails.com, put in your zip code, find your hiking trail!  Or drive around your town until you find a park that looks like fun.  Ask your friends or coworkers if they know any good spots.  Go to a local golf course and go hiking through the woods (collecting all the Titleist Pro-V1 balls you find and sending them to me).  Type in “[your town name] + hiking” on Google and see what pops up.  The world is FULL of hiking trails and awesomeness – you just need to know where to look.
</p>
<br><p><i>
5) Let somebody else know :</i> if you are out hiking alone, take the time to email or call somebody and let him know that you’ll be hiking and when you expect to be back.  We don’t want to hear about any 127 Hours stories on NF…that would make playing videogames way more difficult.  You don’t need to tell them the brand of your underwear (please tell me you’re wearing underwear) or how many almonds you’re bringing, but let them know the important details so if they don’t hear back from you by a certain time they know to alert the proper authorities.</p>
        
        </div>
       
    </div>
    
      
       
     
</body>
</html>