<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <style>
        .navbar{
          margin-bottom: 0;
          border-radius: 0;
          background-color: #5E4485;
          color: #fff;
          padding: 1% 0;
          font-size: 1.2em;
          border: 0;
      }
        .navbar-brand{
          float: left;
          min-height: 55px;
          padding: 0 15px 5px;
      }
      .navbar-inverse .navbar-nav .active a,.navbar-inverse .navbar-nav .active a:focus,.navbar-inverse .navbar-nav .active a:hover
      {
          color: white;
          background-color: #5E4485;
      }
 .name{
     float:left;
   color:black;
  	font-size: 30px;
  	border-bottom: 5px solid black;
   } 
  </style>
   
   <body>
<nav class="navbar navbar-inverse">
    <div class="conteinar-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h2><i>Hiking Life          
                </i></h2>        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right"> 
            <li class="active"><a href="/">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>       
            <div class="container">
                <div class="row">
       <div class="col-md-8">
 <p id="name"   ><%= request.profile.firstName %></p>
           </div>
             <div class="col-md-4">      
 <img src=<%=request.profile.photo%>
          </div>
                 </div>
  <div class="form-group">
<p>   <label for="place" class="col-sm-2 control-label">Name of place</label></p>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="place">
    </div>
  </div>
  
    <div class="form-group">
 <p>   <label for="photo" clsss="col-sm-2 control-label">Add photo</label></p>
    <div class="col-sm-10">
         <input type="text" id="photo" placeholder="  your image url *" ><br>
    </div>
  </div>
   <div class="form-group">
    <label for="description" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
      <textarea class="form-control" rows="3" id="description"></textarea>
    </div>
  </div>
  
   <div class="form-group"><div class="col-sm-offset-2 col-sm-10">
      <button id="submit" type="submit" class="btn btn-default">Submit</button>
      <div id="error"></div>
    </div>
  </di
  </div>
  <script>
    var signup{
      place:"",
     description:"", 
     photo:"" 
    }
           $("#place").change(function()
            {
               
           signup.place= $("#place").val();
            });      
    $('#description').change(function(){
    signup.description = $('#description').val();
  })  ;
        $("#photo").change(function()
            {
             signup.place= $("#place").val();
            });         
 
      $('#submit').click(function(){
    $.ajax({
      method:"POST",
      url:'/api/signup',
      data: profile
    }).done(function(response){
      console.log(response);
      window.location.repace("/list/"+response);
    }).fail(function(response){
      $("#error").text(JSON.parse(response.responseText).message);
        console.log(JSON.parse(response.responseText).message);
    });
  });
         
  </script>
 </body>