<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <style>
        .navbar{
          margin-bottom: 0;
          border-radius: 0;
          background-color: #5E4485;
          color: #fff;
          padding: 1% 0;
          font-size: 1.2em;
          border: 0;
      }
        .navbar-brand{
          float: left;
          min-height: 55px;
          padding: 0 15px 5px;
      }
      .navbar-inverse .navbar-nav .active a,.navbar-inverse .navbar-nav .active a:focus,.navbar-inverse .navbar-nav .active a:hover
      {
          color: white;
          background-color: #5E4485;
      }
 .name{
     float:left;
   color:black;
  	font-size: 30px;
  	border-bottom: 5px solid black;
  
 } 
 
.form-group{
          float:left;
          font-size: 10px;
          color: white
         left margin:2px;     
          padding:5px 12px;
          background: #5E4485;
          border: 2px solid;
          
}
  </style>
     <body>
<nav class="navbar navbar-inverse">
    <div class="conteinar-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h2><i>Hiking Life          
                </i></h2>        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right"> 
            <li class="active"><a href="/">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>    
<body>
   <body>

  <div class="container">
    <h2>Place name: <%=request.signup.name%></h2>
    <p>Description: <%=request.signup.description%></p>
    <h5>Image: <%=request.signup.photo%></h5>
 
  </div>
  
     <div class="form-group"><div class="col-sm-offset-2 col-sm-10">
      <button id="delete" type="delete" class="btn btn-default">Delete</button>    <button id="add" type="add" class="btn btn-default">Add</button>
      <div id="error"></div>
    </div>
  </div>
</div>
 <script src="/lib/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/ejs_production.js"></script><script>
  </script>

  </body>
